<ion-header>
  <ion-navbar>
    <ion-title>{{'Settings' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-list>
    <!--<ion-item-divider color="light"></ion-item-divider>-->

    <ion-card>

      <button ion-item (click)="openAddressBookPage()">
        <ion-icon item-start>
          <img src="assets/img/app/address-book-blue.svg" alt="Address Book" style="width: 25px;" />
        </ion-icon>
        {{'Address book' | translate}}
      </button>

      <ion-item (click)="openHelpExternalLink()">
        <ion-icon item-start>
          <img src="assets/img/app/help-and-support-blue.svg" alt="Address Book" style="width: 25px;" />
        </ion-icon>
        {{'Help &amp; support' | translate}}
      </ion-item>

      <ion-item (click)="openSendFeedbackPage()">
        <ion-icon item-start>
          <img src="assets/img/app/feedback-blue.svg" alt="Address Book" style="width: 25px;" />
        </ion-icon>
        Send feedback
      </ion-item>

      <ion-item *ngIf="isCordova && !isWindowsPhoneApp" (click)="openFeedbackCompletePage()">
        <ion-icon item-start>
          <img src="assets/img/app/share-blue.svg" alt="Address Book" style="width: 25px;" />
        </ion-icon>
        Share {{ appName }}
      </ion-item>

    </ion-card>


    <ion-card>

      <button ion-item (click)="openBitcoinCashPage()">
        <ion-icon item-start>
          <img src="assets/img/app/bitcoin-cash-blue.svg" alt="Bitcoin Cash Wallets" style="width: 25px;" />
        </ion-icon>
        Bitcoin Cash
      </button>

      <button ion-item (click)="openNotificationsPage()">
        <ion-icon item-start>
          <img src="assets/img/app/notifications-blue.svg" alt="Bitcoin Cash Wallets" style="width: 25px;" />
        </ion-icon>
        {{'Notification' | translate}}
      </button>

      <button ion-item (click)="openLanguagePage()">
        <ion-icon item-start>
          <img src="assets/img/app/language-blue.svg" alt="Bitcoin Cash Wallets" style="width: 25px;" />
        </ion-icon>
        <ion-label>
          {{'Language' | translate}}
        </ion-label>
        <ion-note *ngIf="currentLanguageName" item-end>
          {{ currentLanguageName }}
        </ion-note>
      </button>

      <button ion-item (click)="openAltCurrencyPage()">
        <ion-icon item-start>
          <img src="assets/img/app/dollar-blue.svg" alt="Bitcoin Cash Wallets" style="width: 25px;" />
        </ion-icon>
        <ion-label>
          {{'Alternative currency' | translate}}
        </ion-label>
        <ion-note *ngIf="selectedAlternative" item-end>
          {{ selectedAlternative.name }}
        </ion-note>
      </button>

      <button ion-item (click)="openFeePolicyPage()">
        <ion-icon item-start>
          <img src="assets/img/app/network-blue.svg" alt="Bitcoin Cash Wallets" style="width: 25px;" />
        </ion-icon>
        <ion-label>
          {{'Bitcoin network fee policy' | translate}}
        </ion-label>
      </button>

      <button ion-item (click)="openLockPage()">
        <ion-icon item-start *ngIf="lockMethod != 'Disabled'">
          <img src="assets/img/app/lock-blue.svg" alt="Bitcoin Cash Wallets" style="width: 25px;" />
        </ion-icon>
        <ion-icon item-start *ngIf="lockMethod == 'Disabled'">
          <img src="assets/img/app/lock-blue.svg" alt="Bitcoin Cash Wallets" style="width: 25px;" />
        </ion-icon>

        <ion-label>
          {{'Lock' | translate}}
        </ion-label>
        <ion-note item-end>
          {{lockMethod}}
        </ion-note>
      </button>

    </ion-card>



    <ion-item-divider *ngIf="walletsBtc.length">{{'Bitcoin Wallets' | translate}}</ion-item-divider>

    <ion-card>

      <button ion-item *ngFor="let wallet of walletsBtc" (click)="openWalletSettingsPage(wallet.credentials.walletId)">
        <!--
        <ion-icon item-start>
          <img *ngIf="wallet.network == 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet-testnet.svg"
            class="icon-wallet" />
          <img *ngIf="wallet.network != 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet.svg"
            class="icon-wallet" />
        </ion-icon>
        -->
        <ion-icon item-start name="custom-wallet"></ion-icon>
        <h2>{{wallet.name}}
          <span *ngIf="wallet.credentials.m > 1">{{wallet.credentials.m}}-{{wallet.credentials.n}}</span>
        </h2>
        <ion-note class="wallet-warning" *ngIf="!wallet.isComplete()" item-end>
          {{'Incomplete' | translate}}
        </ion-note>
        <ion-note class="wallet-warning" *ngIf="wallet.isComplete() && wallet.needsBackup" item-end>
          {{'Backup needed' | translate}}
        </ion-note>
      </button>
    </ion-card>

    <ion-item-divider *ngIf="walletsBch.length">{{'Bitcoin Cash Wallets' | translate}}</ion-item-divider>


    <ion-card>
      <button ion-item *ngFor="let wallet of walletsBch" (click)="openWalletSettingsPage(wallet.credentials.walletId)">
      <!--
      <ion-icon item-start>
        <img *ngIf="wallet.network == 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet-testnet.svg"
          class="icon-wallet" />
        <img *ngIf="wallet.network != 'testnet'" [ngStyle]="{'background-color': wallet.color}" src="assets/img/icon-wallet.svg"
          class="icon-wallet" />
      </ion-icon>
      -->
      <ion-icon item-start name="custom-wallet"></ion-icon>
      <h2>{{wallet.name}}
        <span *ngIf="wallet.credentials.m > 1">{{wallet.credentials.m}}-{{wallet.credentials.n}}</span>
      </h2>
      <ion-note class="wallet-warning" *ngIf="!wallet.isComplete()" item-end>
        {{'Incomplete' | translate}}
      </ion-note>
      <ion-note class="wallet-warning" *ngIf="wallet.isComplete() && wallet.needsBackup" item-end>
        {{'Backup needed' | translate}}
      </ion-note>
    </button>
    </ion-card>

    <ion-card>
      <button ion-item (click)="openAdvancedPage()">
        <ion-icon item-start>
          <img src="assets/img/app/advanced.svg" alt="Address Book" style="width: 25px;" />
        </ion-icon>
        {{'Advanced' | translate}}
      </button>

      <button ion-item (click)="openAboutPage()">
        <ion-icon item-start>
          <img src="assets/img/app/about-mira.svg" alt="Address Book" style="width: 25px;" />
        </ion-icon>
        {{'About' | translate}} {{appName}}
      </button>
    </ion-card>
  </ion-list>
</ion-content>
