page-smarttemplates {
  .explanation {
    padding: 0 1rem;
    margin: 1rem 0;
  }
  .heading {
    font-size: 17px;
    margin: 1rem 0;
  }
  .description {
    margin: 1rem 0;
    font-size: 0.9em;
  }
}
