<ion-header>
  <ion-navbar>
    <ion-title>Nominal box</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="light">Box info</ion-item-divider>
    <ion-item>
      <ion-label>Creator</ion-label>
      <ion-label>{{miraBox.getCreator().name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-label>{{miraBox.getDescription()}}</ion-label>
    </ion-item>
    <ion-item-divider color="light">Wallet info</ion-item-divider>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-label>{{miraBox.getWallet().name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <ion-label>ToDo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-label>ToDo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Balance</ion-label>
      <ion-label>ToDo</ion-label>
    </ion-item>
    <ion-item>
      <button ion-item (click)="gotoFillWithCoin()">
        <ion-icon item-start>
          <img src="assets/img/icon-bitcoin.svg" class="icon-services" />
        </ion-icon>
        <span>Fill with coin</span>
      </button>
    </ion-item>
    <ion-item>
      <button ion-item (click)="shareviaEmail()">
        <ion-icon item-start>
          <img src="assets/img/icon-bitcoin.svg" class="icon-services" />
        </ion-icon>
        <span>Share via Email!</span>
      </button>
    </ion-item>
    <ion-item>
      <button ion-item (click)="sheetShare()">
        <ion-icon item-start>
          <img src="assets/img/icon-bitcoin.svg" class="icon-services" />
        </ion-icon>
        <span>Share...</span>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <a *ngIf="!isCordova" ion-button block id="not-cordova-download" class="button-footer" (click)="notCordovaDownload()">Download</a>
  <button *ngIf="isCordova" ion-button block class="button-footer" (click)="multiPlatformDownload()">Download</button>
</ion-footer>
