<ion-header>
  <ion-navbar>
    <ion-title>Nominal box</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item-divider color="light">Box info</ion-item-divider>
      <ion-item>
        <ion-label>Signature</ion-label>
        <ion-label>{{miraBox.validateSignature()?'Valid':'Invalid'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Creator</ion-label>
        <ion-label>{{miraBox.getCreator().name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-label>{{miraBox.getDescription()}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Hash</ion-label>
        <ion-label copy-to-clipboard="{{ miraBox.getBoxItems()[0].hash }}">{{miraBox.getBoxItems()[0].hash}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item-divider color="light">Wallet info</ion-item-divider>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-label>{{miraBox.getBoxItems()[0].meta.name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Currency</ion-label>
        <ion-label>{{miraBox.getBoxItems()[0].headers.type.coin}}</ion-label>
      </ion-item>
      <ion-item *ngIf="miraBox.getBoxItems()[0].headers.type.coin != coin.BCH">
        <ion-label>Address</ion-label>
        <ion-label copy-to-clipboard="{{ miraBox.getBoxItems()[0].headers.address }}">{{miraBox.getBoxItems()[0].headers.address}}</ion-label>
      </ion-item>
      <ion-item *ngIf="miraBox.getBoxItems()[0].headers.type.coin == coin.BCH">
        <ion-label>Address</ion-label>
        <ion-label copy-to-clipboard="{{ miraBoxBchAddress }}">{{ miraBoxBchAddress }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Last Action</ion-label>
        <ion-label>{{ miraBoxStatus }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Balance</ion-label>
        <ion-label>{{ currentBalance }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-row>
    <ion-col>
      <button ion-button (click)="gotoFillWithCoin()" block outline icon-start>
        <ion-icon>
          <img src="assets/img/icon-bitcoin.svg" class="icon-services" />
        </ion-icon>
        <span>Fill with coin</span>
      </button>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-list>
      <ion-item-divider color="light">Enter ethereum account and its password:</ion-item-divider>
      <ion-item>
        <ion-label>Ethereum account:</ion-label>
        <ion-input type="text" [(ngModel)]="ethAccount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password:</ion-label>
        <ion-input type="password" [(ngModel)]="ethAccountPassword"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-row>
    <ion-col>
      <button ion-button (click)="gotoOpenMiraBox()" block outline icon-end>
        <span>Try open...</span>
        <ion-icon name="open"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="sheetShare()" block outline icon-end *ngIf="isCordova">
        <span>Share...</span>
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <a id="not-cordova-download" style="display: none"></a>
  <button ion-button block class="button-footer" (click)="download()">Download</button>
</ion-footer>
