<ion-header>
  <ion-navbar>
    <ion-title>New Nominal Box</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Wallet type</ion-label>
        <ion-select [(ngModel)]="walletType">
          <ion-option value="btc" [selected]="">BTC</ion-option>
          <ion-option value="bch">BCH</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Sign with walllet:</ion-label>
        <ion-select *ngIf="walletType == 'btc'" [(ngModel)]="btcWalletToSign">
          <ion-option  *ngFor="let wallet of btcWallets" [selected]="wallet == initBTCWallet" [value]="wallet" >{{ wallet.walletName }}</ion-option>
        </ion-select>
        <ion-select *ngIf="walletType == 'bch'" [(ngModel)]="bchWalletToSign">
          <ion-option  *ngFor="let wallet of bchWallets" [selected]="wallet == initBCHWallet" [value]="wallet" >{{ wallet.walletName }}</ion-option>
        </ion-select>
      </ion-item>



    <ion-item>
      <ion-label>Creator name</ion-label>
      <ion-input type="text" [(ngModel)]="creatorName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Wallet name</ion-label>
      <ion-input type="text" [(ngModel)]="walletName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Box description</ion-label>
      <ion-input type="text" [(ngModel)]="boxDescription"></ion-input>
    </ion-item>
  </ion-list>

  </ion-card>

</ion-content>

<ion-footer>
  <button ion-button block class="button-footer" (click)="createBox()">Create Box
  </button>
</ion-footer>
