<ion-header>
  <ion-navbar>
    <ion-title>New {{ boxType }} Box</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>Box settings</ion-item-divider>
    <ion-item>
      <ion-label>Box creator name</ion-label>
      <ion-input type="text" [(ngModel)]="creatorName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Box description</ion-label>
      <ion-input type="text" [(ngModel)]="boxDescription"></ion-input>
    </ion-item>
    <ion-item-divider>New wallet</ion-item-divider>
    <ion-item>
      <ion-label>Wallet name</ion-label>
      <ion-input type="text" [(ngModel)]="walletName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Source wallet:</ion-label>
      <ion-select [(ngModel)]="signWalletIdx">
        <ion-option *ngFor="let wallet of btcWallets; let i=index" [selected]="i==0" [value]="i">
          {{wallet.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Amount</ion-label>
      <ion-input type="number" [(ngModel)]="amount"></ion-input>
    </ion-item>
    <ion-item-divider>Box sign</ion-item-divider>
    <ion-item>
      <ion-label>Sign with wallet:</ion-label>
      <ion-select [(ngModel)]="sourceWalletIdx">
        <ion-option *ngFor="let wallet of btcWallets; let i=index" [selected]="i==0"  [value]="i">
          {{wallet.name}}
        </ion-option>
      </ion-select>
    </ion-item>
  <!--  <ion-item *ngIf="boxType=='smart'">
      <ion-label>Templates:</ion-label>
      <ion-select [(ngModel)]="sourceTemplateIdx">
        <ion-option *ngFor="let template of smartTemplates; let i=index" [selected]="i==0" [value]="i">
          {{template.name}}
        </ion-option>
      </ion-select>
    </ion-item>-->
    <!-- tododaniil show button only if smartbox selected -->
    <button ion-item (click)="openTemplatesPage()">
      <ion-icon item-start>
        <img src="assets/img/app/lock-blue.svg" alt="Bitcoin Cash Wallets" style="width: 25px;" />
      </ion-icon>
      <ion-label>
        Choose Template...
      </ion-label>
      <ion-note item-end>
        {{ selectedTemplate }}
      </ion-note>
    </button>
    <button ion-item (click)="testSmart()">
      <ion-label>
        Test
      </ion-label>
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button block class="button-footer" [disabled]="inProgress" (click)="createBox()">Create Box
  </button>
</ion-footer>
